body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-style: normal;
  color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

header {
  padding: 24px 0;
}

.container {
  max-width: 1440px;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0 auto;
  /*outline: 2px solid red;*/
}

.header-position {
  display: flex;
  gap: 332px;
}

.logo-navigation-spc {
  display: flex;
  gap: 76px;
}

.navigation-spc {
  display: flex;
  gap: 40px;
}

.mail-tel {
  display: flex;
  gap: 40px;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-noncolor {
  color: #2e2f42;
}

.link-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}

.link-header:hover {
  color: #404bbf;
}

.link-header:focus {
  color: #404bbf;
}

.list {
  list-style-type: none;
}

.data {
  font-style: normal;
}

.link-address {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  width: 153px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}

.link-address:hover {
  color: #404bbf;
}

.link-address:focus {
  color: #404bbf;
}

.first-section {
  background: var(--NAVY-BLUE, #2e2f42);
}

.effective-solutions {
  padding: 188px 472px 188px 472px;
  text-align: center;
}

.main-header {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  margin-bottom: 48px;
  width: 496px;
}

.btt {
  background-color: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
}

.btt:hover {
  background-color: #404bbf;
}

.btt:focus {
  background-color: #404bbf;
}

.second-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.second-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.third-section {
  background: var(--CLOUD, #f4f4fd);
  padding-top: 120px;
  padding-bottom: 120px;
}

.employees {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.third-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-top: 32px;
  margin-bottom: 8px;
}

.list-point {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.main-qualities {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.normal-tekst {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
  padding-bottom: 32px;
}

.portfolio-container {
  padding-left: 150px;
  padding-right: 150px;
}

.fourth-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-list {
  background: var(--WHITE, #fff);
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  width: 360px;
  height: 420px;
}

.portfolio-tekst {
  margin-left: 16px;
}

.portfolio-nt {
  margin-left: 16px;
}

.main-footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding-top: 120px;
}

.footer-tekst {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
  margin-bottom: 16px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-footer-noncolor {
  color: #f4f4fd;
}

.footer-position {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 864px;
}
