body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-style: normal;
  color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.zero-section {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.header-position {
  display: flex;
  gap: 332px;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.navigation-spc {
  display: flex;
  gap: 40px;
}

.mail-tel {
  display: flex;
  gap: 40px;
}

.logotype {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.logo-noncolor {
  color: #2e2f42;
}

.link-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
  padding: 24px 0;
}

.link-header:hover {
  color: #404bbf;
}

.link-header:focus {
  color: #404bbf;
}

li {
  list-style-type: none;
}

.data {
  font-style: normal;
}

.link-address {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  width: 153px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}

.link-address:hover {
  color: #404bbf;
}

.link-address:focus {
  color: #404bbf;
}

.first-section {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 188px 0;
}

.effective-solution {
  padding-left: 316px;
  padding-right: 316px;
}

.main-header {
  max-width: 496px;
  color: var(--WHITE, #fff);
  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  margin-bottom: 48px;
}

.btt {
  display: block;
  min-width: 169px;
  background-color: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin-left: 163px;
  height: 56px;
}

.btt:hover {
  background-color: #404bbf;
}

.btt:focus {
  background-color: #404bbf;
}

.second-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Обрезка "невидимой" области */
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.second-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.third-section {
  background: var(--CLOUD, #f4f4fd);
  padding-top: 120px;
  padding-bottom: 120px;
}

.employees {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.name-and-position {
  padding: 32px 0;
}

.third-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  text-align: center;
}

.list-point {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.main-qualities {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.list-element-second-section {
  width: calc((100% - 72px) / 4);
}

.normal-tekst {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
  padding-bottom: 32px;
  text-align: center;
}

.portfolio-container {
  padding-left: 150px;
  padding-right: 150px;
}

.fourth-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-list {
  background: var(--WHITE, #fff);
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  width: 360px;
  height: 420px;
}

.portfolio-tekst {
  margin-left: 16px;
}

.portfolio-nt {
  margin-left: 16px;
}

.main-footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
}

.footer-tekst {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
  margin-bottom: 16px;
}

.footer-logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 16px;
}

.logo-footer-noncolor {
  color: #f4f4fd;
}

.footer-position {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 864px;
}
